In [7]:
# Dependencies
from bs4 import BeautifulSoup
from urllib.parse import urlparse
import urllib.request
import requests
import pandas as pd
import time
import re
import json
import matplotlib.pyplot as plt
import numpy as np
import time
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
import warnings

In [8]:
# DataFrame Set Up

header = ['Owner',
'Address 1',
'Address 2',
#'Street No.',
#'Street',
'City',
'State',
#'Zip',
'Full Address',
'2021 Building Value',
'2020 Building Value',
'2019 Building Value',
'2018 Building Value',
'2017 Building Value',
'2016 Building Value',
'2021 Land Value',
'2020 Land Value',
'2019 Land Value',
'2018 Land Value',
'2017 Land Value',
'2016 Land Value',
'2021 Total Value',
'2020 Total Value',
'2019 Total Value',
'2018 Total Value',
'2017 Total Value',
'2016 Total Value',
'Land (Acre)',
'Land (SQFT)',
'Est Tax',
'Improvement 1',
'Size 1',
'Improvement 2',
'Size 2',
'Improvement 3',
'Size 3',
'Improvement 4',
'Size 4',
'Improvement 5',
'Size 5',
'Improvement 6',
'Size 6',
'Improvement 7',
'Size 7',
'Improvement 8',
'Size 8',
'Improvement 9',
'Size 9',
'Improvement 10',
'Size 10'
#'Total Building SQFT',
#'Price/SQFT'   
]
rows=[]

In [9]:
for x in range(100,300):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R000040'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    html = requests.get(url)
    soup = BeautifulSoup(html.text,'lxml')

    row = []

    # HTML Tables 
    table = soup.find_all('tbody')
    table_address = table[1]
    table_legal = table[4]
    table_val = table[5]
    table_sqft = table[6]
    table_land = table[7]
    table_tax = table[9]

    # Data List

    acre_list = table_land.find_all('td')
    tax_row_list = table_tax.find_all('tr')
    tax_row_num = len(tax_row_list)-1
    last_tax_row = tax_row_list[tax_row_num]
    tax_col_list = last_tax_row.find_all('td')
    tax_col_num = len(tax_col_list)-1
 

    # Data Variables - Name & Address
    try:
        name = table_address.find('td', id ='webprop_name').text
        row.append(name)
    except:
        row.append(np.nan)   
    
    try:    
        address1 = table_address.find('td', id='webprop_mailaddress').text
        row.append(address1)
    except:
        row.append(np.nan)
        
    try:
        address2 = table_legal.find('td', id='webprop_situs').text
        address2 = address2[7:]
        row.append(address2)
    except:
        row.append(np.nan)
        
    #try:  
    #    address2_num = len(address2)-6
    #    street_no = address2[address2_num:]
    #    street_no = street_no.lstrip()
    #    row.append(street_no)
    #except:
    #    row.append(np.nan)

    #try:
    #    street = address2[:address2_num]
    #    street = street.rstrip()
    #    row.append(street)
    #except:
    #    row.append(np.nan)

    try:
        city = "MIDLAND"
        chars = address1.find("MIDLAND")

        if chars>0:
            row.append(city)
        else:
            row.append(np.nan)

        #city_num = len(address1)-10
        #city1 = address1[:city_num]
        #city_num2 = len(city1)-7
        #city = city1[city_num2:]
        #row.append(city)
    except:
        row.append(np.nan)
        
    state = 'TEXAS'
    row.append(state)
    
    #try:
    #    zip_code_num = len(address1)-6
    #    zip_code = address1[zip_code_num:]
    #    zip_code = zip_code.lstrip()
    #    row.append(zip_code)
    #except:
    #    row.append(np.nan)
        
    try:  
        full_address = address2+" "+city+", "+state
        row.append(full_address)
    except:
        row.append(np.nan)

    # Data Variables - Other
    try:
        imp0 = table_val.find('td', id='histimp0_yr').text
        row.append(imp0)
    except:
        row.append(np.nan)

    try:
        imp1 = table_val.find('td', id='histimp1_yr').text
        row.append(imp1)
    except:
        row.append(np.nan)
    
    try:
        imp2 = table_val.find('td', id='histimp2_yr').text
        row.append(imp2)
    except:
        row.append(np.nan)

    try:
        imp3 = table_val.find('td', id='histimp3_yr').text
        row.append(imp3)
    except:
        row.append(np.nan)
    
    try:
        imp4 = table_val.find('td', id='histimp4_yr').text
        row.append(imp4)
    except:
        row.append(np.nan)

    try:
        imp5 = table_val.find('td', id='histimp5_yr').text
        row.append(imp5)
    except:
        row.append(np.nan)
    
    try:
        land0 = table_val.find('td', id='histlnd0_yr').text
        row.append(land0)
    except:
        row.append(np.nan)
    
    try:
        land1 = table_val.find('td', id='histlnd1_yr').text
        row.append(land1)
    except:
        row.append(np.nan)
    
    try:
        land2 = table_val.find('td', id='histlnd2_yr').text
        row.append(land2)
    except:
        row.append(np.nan)
    
    try:
        land3 = table_val.find('td', id='histlnd3_yr').text
        row.append(land3)
    except:
        row.append(np.nan)
    
    try:
        land4 = table_val.find('td', id='histlnd4_yr').text
        row.append(land4)
    except:
        row.append(np.nan)

    try:
        land5 = table_val.find('td', id='histlnd5_yr').text
        row.append(land5)
    except:
        row.append(np.nan)

    try:    
        totval0 = table_val.find('td', id='histassd0_yr').text
        row.append(totval0)
    except:
        row.append(np.nan)
    
    try:
        totval1 = table_val.find('td', id='histassd1_yr').text
        row.append(totval1)
    except:
        row.append(np.nan)
    
    try:
        totval2 = table_val.find('td', id='histassd2_yr').text
        row.append(totval2)
    except:
        row.append(np.nan)
    
    try:
        totval3 = table_val.find('td', id='histassd3_yr').text
        row.append(totval3)
    except:
        row.append(np.nan)

    try:
        totval4 = table_val.find('td', id='histassd4_yr').text
        row.append(totval4)
    except:
        row.append(np.nan)
    
    try:
        totval5 = table_val.find('td', id='histassd5_yr').text
        row.append(totval5)
    except:
        row.append(np.nan)
    
    try:
        land_acre = acre_list[1].text
        row.append(land_acre)
    except:
        row.append(np.nan)

    try:
        land_sqft = acre_list[2].text
        row.append(land_sqft)
    except:
        row.append(np.nan)
    
    try:
        est_tax_val = tax_col_list[tax_col_num].text
        row.append(est_tax_val)
    except:
        row.append(np.nan)
    


# For Loop Land Details
    #try:
    #    sqft_row_list = table_sqft.find_all('tr')
    #    sqft_row_num = len(sqft_row_list)

    for x in range(10):
        try:
            sqft_row_list = table_sqft.find_all('tr')
            select_row = sqft_row_list[x]
            code = select_row.find_all('td')[1].text
            desc = select_row.find_all('td')[2].text
            year = select_row.find_all('td')[3].text
            sqft = select_row.find_all('td')[4].text
            row.append(code)
            #row.append(desc)
            #row.append(year)
            row.append(sqft)
        except:
            row.append(np.nan)
            #row.append(np.nan)
            #row.append(np.nan)
            row.append(np.nan)

    rows.append(row)
home_data = pd.DataFrame(data=rows,columns=header)

In [10]:
home_data.head(50)

,Owner,Address 1,Address 2,City,State,Full Address,2021 Building Value,2020 Building Value,2019 Building Value,2018 Building Value,...,Improvement 6,Size 6,Improvement 7,Size 7,Improvement 8,Size 8,Improvement 9,Size 9,Improvement 10,Size 10
0,PACELLI MICHAEL,"2514 QUAIL POINTMIDLAND, TX 79705",QUAIL POINT 2514,MIDLAND,TEXAS,"QUAIL POINT 2514 MIDLAND, TEXAS","$370,620","$359,470","$359,470","$296,760",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADAMS KARLEEN B,"2512 QUAIL POINTMIDLAND, TX 79705",QUAIL POINT 2512,MIDLAND,TEXAS,"QUAIL POINT 2512 MIDLAND, TEXAS","$295,210","$292,150","$292,150","$244,750",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELLIS EDWIN L,"2510 QUAIL POINTMIDLAND, TX 79705",QUAIL POINT 2510,MIDLAND,TEXAS,"QUAIL POINT 2510 MIDLAND, TEXAS","$242,560","$240,130","$240,130","$208,280",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MORALES JERRY,"2508 QUAIL POINTMIDLAND, TX 79705",QUAIL POINT 2508,MIDLAND,TEXAS,"QUAIL POINT 2508 MIDLAND, TEXAS","$427,230","$416,910","$416,910","$347,560",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LAWRENCE MARGARET E,"2506 QUAIL POINTMIDLAND, TX 79705",QUAIL POINT 2506,MIDLAND,TEXAS,"QUAIL POINT 2506 MIDLAND, TEXAS","$284,300","$281,510","$281,510","$236,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MORALES SOCORRO,"2504 QUAIL POINTMIDLAND, TX 79705",QUAIL POINT 2504,MIDLAND,TEXAS,"QUAIL POINT 2504 MIDLAND, TEXAS","$306,790","$304,840","$304,840","$255,030",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,HIGGINS UNA FAYE,"2502 QUAIL PTMIDLAND, TX 79705-6365",QUAIL POINT 2502,MIDLAND,TEXAS,"QUAIL POINT 2502 MIDLAND, TEXAS","$300,170","$298,270","$298,270","$249,950",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,EVANS HOLLY D,"2500 QUAIL PTMIDLAND, TX 79705",QUAIL POINT 2500,MIDLAND,TEXAS,"QUAIL POINT 2500 MIDLAND, TEXAS","$336,370","$301,200","$301,200","$252,110",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,BIGLEY JOHN,"2519 QUAIL POINTMIDLAND, TX 79705",QUAIL POINT 2519,MIDLAND,TEXAS,"QUAIL POINT 2519 MIDLAND, TEXAS","$226,190","$223,540","$223,540","$196,900",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,HARRIS GARY F,"& JOETTA K HARRIS2517 QUAIL POINTMIDLAND, TX 7...",QUAIL POINT 2517,MIDLAND,TEXAS,"QUAIL POINT 2517 MIDLAND, TEXAS","$237,310","$235,200","$235,200","$206,890",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,GOUDEAU ANITA,"2515 QUAIL POINTMIDLAND, TX 79705",QUAIL POINT 2515,MIDLAND,TEXAS,"QUAIL POINT 2515 MIDLAND, TEXAS","$237,120","$235,040","$221,662","$206,960",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RIGGAN TIMOTHY S,"217 BLACKBERRY CRMIDLAND, TX 79707",QUAIL POINT 2513,MIDLAND,TEXAS,"QUAIL POINT 2513 MIDLAND, TEXAS","$231,840","$193,440","$193,440","$193,440",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,MOONEY MICHAEL G,"220 PARADISE CIRTOWNVILLE, SC 29689 3429",QUAIL POINT 2511,NaN,TEXAS,"QUAIL POINT 2511 MIDLAND, TEXAS","$226,190","$223,540","$223,540","$196,900",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,KNITTLE RICHARD J,"2500 W WADLEY AVEMIDLAND, TX 79705 6346",WADLEY AV 2500 W,MIDLAND,TEXAS,"WADLEY AV 2500 W MIDLAND, TEXAS","$228,390","$226,280","$226,280","$196,280",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,CARNETT JOHN RANDALL,"7422 NANTCKETT POINT LANESPRING, TX 77389",WADLEY AV 2502 W,NaN,TEXAS,"WADLEY AV 2502 W MIDLAND, TEXAS","$242,670","$240,260","$240,260","$208,700",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,CONLEY RALPH,"34 CASTLE OAKSODESSA, TX 79765",WADLEY AV 2504 W,NaN,TEXAS,"WADLEY AV 2504 W MIDLAND, TEXAS","$242,670","$240,260","$240,260","$208,700",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,MCFARLAND MARTHA,"2506 W WADLEY AVMIDLAND, TX 79705",WADLEY AV 2506 W,MIDLAND,TEXAS,"WADLEY AV 2506 W MIDLAND, TEXAS","$242,670","$240,260","$240,260","$208,700",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ALDERMAN CURTIS,"& MARY BOLER ALDERMAN2508 W WADLEY AVMIDLAND, ...",WADLEY AV 2508 W,MIDLAND,TEXAS,"WADLEY AV 2508 W MIDLAND, TEXAS","$218,650","$215,660","$215,660","$187,330",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,QUAIL POINT HOMEOWNERS ASSOC,"2604 INWOOD CTMIDLAND, TX 79705 6364",WADLEY AV 0 W,MIDLAND,TEXAS,"WADLEY AV 0 W MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,,,,NaN,TEXAS,"MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,,,,NaN,TEXAS,"MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,EUBANK HOLLY A,"2808 N GARFIELD STMIDLAND, TX 79705",GARFIELD ST 2808 N,MIDLAND,TEXAS,"GARFIELD ST 2808 N MIDLAND, TEXAS","$256,370","$259,180","$259,180","$233,340",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,SHICK GERALD,"2806 N GARFIELD STMIDLAND, TX 79705",GARFIELD ST 2806 N,MIDLAND,TEXAS,"GARFIELD ST 2806 N MIDLAND, TEXAS","$249,500","$252,650","$252,650","$227,620",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,VILLARREAL SAMMY,"2804 N GARFIELD STMIDLAND, TX 79705",GARFIELD ST 2804 N,MIDLAND,TEXAS,"GARFIELD ST 2804 N MIDLAND, TEXAS","$312,650","$309,720","$309,720","$277,940",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,WHITE ARNOLD SCOTT,"2802 NORTH GARFIELD STMIDLAND, TX 79705",GARFIELD ST 2802 N,MIDLAND,TEXAS,"GARFIELD ST 2802 N MIDLAND, TEXAS","$126,260","$127,850","$127,850","$115,170",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,GRAY II EVERETT WILLARD,"2800 N GARFIELD STMIDLAND, TX 79705",GARFIELD ST 2800 N,MIDLAND,TEXAS,"GARFIELD ST 2800 N MIDLAND, TEXAS","$363,740","$362,440","$362,440","$332,790",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,ROBERTS STEVEN D,"2708 N GARFIELD STMIDLAND, TX 79705",GARFIELD ST 2708 N,MIDLAND,TEXAS,"GARFIELD ST 2708 N MIDLAND, TEXAS","$358,930","$357,820","$357,820","$328,590",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,WARE LEZLYE,"2706 N GARIELDMIDLAND, TX 79701 5936",GARFIELD ST 2706 N,MIDLAND,TEXAS,"GARFIELD ST 2706 N MIDLAND, TEXAS","$336,690","$334,200","$334,200","$300,170",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,BECKETT LANE PROPERTIES LLC,"4400 N BIG SPRING ST STE E-100MIDLAND, TX 79705",GARFIELD ST 2704 N,MIDLAND,TEXAS,"GARFIELD ST 2704 N MIDLAND, TEXAS","$360,370","$223,800","$368,320","$326,890",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,GARAY SCOTT L,"1305 OAKRIDGE RDMC DONALD, PA 15057-2635",GARFIELD ST 2702 N,NaN,TEXAS,"GARFIELD ST 2702 N MIDLAND, TEXAS","$335,390","$333,060","$333,060","$299,710",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,SEYAH REAL ESTATE INVESTMENTS LLC,"4321 SOUTHERN AVDALLAS, TX 75205",GARFIELD ST 2700 N,NaN,TEXAS,"GARFIELD ST 2700 N MIDLAND, TEXAS","$358,210","$369,980","$369,980","$333,530",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,,,,NaN,TEXAS,"MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,RACQUET CLUB SOUTH,"HOMEOWNERS ASSOC INCP O BOX 52805MIDLAND, TX 7...",RACQUET CLUB DR 0,MIDLAND,TEXAS,"RACQUET CLUB DR 0 MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,RACQUET CLUB SOUTH,"HOMEOWNERS ASSOC INCP O BOX 52805MIDLAND, TX 7...",RACQUET CLUB DR 0,MIDLAND,TEXAS,"RACQUET CLUB DR 0 MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,RACQUET CLUB SOUTH,"HOMEOWNERS ASSOC INCP O BOX 52805MIDLAND, TX 7...",RACQUET CLUB DR 2810,MIDLAND,TEXAS,"RACQUET CLUB DR 2810 MIDLAND, TEXAS","$2,740","$2,950","$2,950","$2,980",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,RACQUET CLUB SOUTH,"HOMEOWNERS ASSOC INCP O BOX 52805MIDLAND, TX 7...",RACQUET CLUB DR 0,MIDLAND,TEXAS,"RACQUET CLUB DR 0 MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,RACQUET CLUB SOUTH,"HOMEOWNERS ASSOC INCP O BOX 52805MIDLAND, TX 7...",RACQUET CLUB DR 0,MIDLAND,TEXAS,"RACQUET CLUB DR 0 MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,RACQUET CLUB SOUTH,"HOMEOWNERS ASSOC INCP O BOX 52805MIDLAND, TX 7...",RACQUET CLUB DR 0,MIDLAND,TEXAS,"RACQUET CLUB DR 0 MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,RACQUET CLUB SOUTH,"HOMEOWNERS ASSOC INCP O BOX 52805MIDLAND, TX 7...",RACQUET CLUB DR 0,MIDLAND,TEXAS,"RACQUET CLUB DR 0 MIDLAND, TEXAS",$0,$0,$0,$0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,RACQUET CLUB SOUTH,"HOMEOWNERS ASSOC INCP O BOX 52805MIDLAND, TX 7...",RACQUET CLUB DR 2811,MIDLAND,TEXAS,"RACQUET CLUB DR 2811 MIDLAND, TEXAS",$440,$440,$440,$450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,HOLT HELEN JOAN,"2808 RACQUET CLUB DRMIDLAND, TX 79705 7435",RACQUET CLUB DR 2808,MIDLAND,TEXAS,"RACQUET CLUB DR 2808 MIDLAND, TEXAS","$502,960","$499,600","$499,600","$496,270",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,DOUGLAS TERRY R,"PO BOX 10187MIDLAND, TX 79702",RACQUET CLUB DR 2804,MIDLAND,TEXAS,"RACQUET CLUB DR 2804 MIDLAND, TEXAS","$412,410","$402,160","$402,160","$386,330",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,HICKEY WILLIAM MORAN,"2800 RACQUET CLUB DRMIDLAND, TX 79705",RACQUET CLUB DR 2800,MIDLAND,TEXAS,"RACQUET CLUB DR 2800 MIDLAND, TEXAS","$561,300","$558,360","$558,360","$546,320",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,KING SCOTT W,"PO BOX 6MIDLAND, TX 79702",RACQUET CLUB DR 2706,MIDLAND,TEXAS,"RACQUET CLUB DR 2706 MIDLAND, TEXAS","$444,220","$432,650","$432,650","$415,050",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,VAN MABEE REVOCABLE TRUST,"PO BOX 52637MIDLAND, TX 79710",RACQUET CLUB DR 2702,MIDLAND,TEXAS,"RACQUET CLUB DR 2702 MIDLAND, TEXAS","$483,770","$472,030","$472,030","$462,540",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,GEISELMAN ALLEN R,"2700 RACQUET CLUB DRMIDLAND, TX 79705 7432",RACQUET CLUB DR 2700,MIDLAND,TEXAS,"RACQUET CLUB DR 2700 MIDLAND, TEXAS","$518,110","$511,920","$511,920","$501,810",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,KING JAMES B,"2701 RACQUET CLUB DRMIDLAND, TX 79705",RACQUET CLUB DR 2701,MIDLAND,TEXAS,"RACQUET CLUB DR 2701 MIDLAND, TEXAS","$921,610","$907,240","$907,240","$892,090",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,KEMP DEBBIE CONLY,"2705 RACQUET CLUB DRMIDLAND, TX 79705",RACQUET CLUB DR 2705,MIDLAND,TEXAS,"RACQUET CLUB DR 2705 MIDLAND, TEXAS","$418,660","$408,560","$408,560","$393,580",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,COLLINS DIANA LORENZEN,"2707 RACQUET CLUB DRMIDLAND, TX 79705",RACQUET CLUB DR 2707,MIDLAND,TEXAS,"RACQUET CLUB DR 2707 MIDLAND, TEXAS","$664,030","$654,910","$654,910","$626,820",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,HORTON JAY B,"2711 RACQUET CLUB DRMIDLAND, TX 79705",RACQUET CLUB DR 2711,MIDLAND,TEXAS,"RACQUET CLUB DR 2711 MIDLAND, TEXAS","$817,390","$797,280","$797,270","$737,380",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
home_data.to_csv('home_data2.csv',index=False,header=True)
print('File_Saved')

File_Saved

In [6]:
# Test Find

name = "2323Midland Tx 77383"
position = name.find("Midland")
print(position)

4